button {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.btn-warning {
  width: 240px;
}
.btn-secondary{
  font-weight: bold;
  font-size: 20px;
}
.App {
  width: 245px;
  text-align: right;
  margin: 20px auto;
  border: 1px solid black;
}
.display {
  height: 23px;
}
